* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #444;
}

body {
  font-family: sans-serif;
  margin: 0px;
  color: #444;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(94, 209, 238, 0.801);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 100ms;
  cursor: pointer;
  user-select: none;
  margin-top: 15px;
}

.btn:hover {
  background-color: rgba(71, 161, 184, 0.801);
}

.btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); */
}

.box {
  background-color: white;
  border-radius: 10px;
  margin: 15px;
  padding: 0 20px;
  flex-shrink: 0;
}

#app {
  background-color: rgba(191, 243, 241, 0.849);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  min-width: 90vw;
  min-height: 85vh;
  /* flex-wrap: wrap; */
}

.tab {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.tab:hover,
.tab.active {
  border: 1px solid #999;
  background-color: #eee;
}

.small {
  border: 1px solid #ddd;
  max-width: 250px;
  padding: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 50px;
  letter-spacing: 0.5rem;
}

.tab-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #bbb;
  padding: 0 10px 5px;
  margin: 0 70px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px;
}

.small-title {
  font-weight: bold;
  padding: 15px 0 10px;
  font-size: large;
  /* border-top: 1px solid #555; */
}

.in-box {
  display: flex;
  position: relative;
  justify-content: center;
}
